# Loc, iloc och []

- Pandas hanterar tre sorters multipel-axels-indexering för object väljning.
    - **loc** används för labelbased indexering
    - **iloc** används för integer based indexering
    - **[kolumnnamn]** returnerar kolumnen som en pandas Series objekt

In [4]:
import pandas as pd

column_values = [f"Column {i}" for i in range(1, 5)]
index_values = [chr(i) for i in range(65, 72)] # chr() hämtar tecken från ASCII-tabellen

df = pd.DataFrame([[f"{ind}{col}" for col in range(1, 5)] for ind in index_values], columns=column_values, index=index_values)
df

  Column 1 Column 2 Column 3 Column 4
A       A1       A2       A3       A4
B       B1       B2       B3       B4
C       C1       C2       C3       C4
D       D1       D2       D3       D4
E       E1       E2       E3       E4
F       F1       F2       F3       F4
G       G1       G2       G3       G4

In [18]:
df.iloc[1, 0] # Detta ger oss värdet i rad 1, kolumn 0. Funkar även med negativ indexering.
# iloc kan också använda slices ANNORLUNDA I LOC! (inclusive/exclusive)

df.loc["B", "Column 1"] # Detta ger oss värdet i rad B, kolumn "Column 1".

df.iloc[:, 1] # Detta ger oss alla värden i kolumn 1.
df.iloc[1, :] # Detta ger oss alla värden i rad 1.

Column 1    B1
Column 2    B2
Column 3    B3
Column 4    B4
Name: B, dtype: object

In [17]:
df.loc["B", :] # Detta ger oss alla värden i rad B.
df.loc[:, "Column 1"] # Detta ger oss alla värden i kolumn "Column 1".

df.loc[:"C", "Column 2"]

A    A2
B    B2
C    C2
Name: Column 2, dtype: object

In [19]:
# att slicea båda axlarna returnerar en Dataframe
df.loc[:"C", "Column 2":]

  Column 2 Column 3 Column 4
A       A2       A3       A4
B       B2       B3       B4
C       C2       C3       C4

In [21]:
df.loc["C":"F", "Column 2":"Column 3"]

  Column 2 Column 3
C       C2       C3
D       D2       D3
E       E2       E3
F       F2       F3

In [22]:
df.iloc[2:6, 1:3]

  Column 2 Column 3
C       C2       C3
D       D2       D3
E       E2       E3
F       F2       F3

In [23]:
df.iloc[:]

  Column 1 Column 2 Column 3 Column 4
A       A1       A2       A3       A4
B       B1       B2       B3       B4
C       C1       C2       C3       C4
D       D1       D2       D3       D4
E       E1       E2       E3       E4
F       F1       F2       F3       F4
G       G1       G2       G3       G4

In [27]:
df.loc[:"B", :"Column 2"]

  Column 1 Column 2
A       A1       A2
B       B1       B2

In [28]:
# istället för slices, anävnd listor:

df.loc[["A", "C", "E"], ["Column 1", "Column 3"]]

  Column 1 Column 3
A       A1       A3
C       C1       C3
E       E1       E3

# **[colnamn]**
Syntax:
- pandasvariabel[colname]
- returnerar en Series object i pandas

In [33]:
df["Column 2"]

df[["Column 2", "Column 4", "Column 1", "Column 1", "Column 1"]]

df["Column 2"]["C"]

'C2'